html, body{
  width: 400px;
}
*{
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::selection{
  background: #c40707;
  color: #fff;
}
header{
  background: linear-gradient(
    to bottom right,  
    #681515, #e42f25, 
    #ff4d35, #a8281f, 
    #ff0000, #911d1d, 
    #ff4444, #c21515);
  background-repeat: no-repeat;
  background-size: 1000% 1000%;
  animation: headerBackground 140s ease infinite;
  color: #fff;
  text-align: center;
  padding: 15px 10px;
}
@keyframes headerBackground {
  0%{background-position:0% 0%}
  50%{background-position:100% 100%}
  100%{background-position:0% 0%}
}
header h1{
  font-weight: 400;
}
section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 25px 10px;
  gap: 20px;
}
section a{
  margin-top: 25px;
  display: block;
  text-decoration: none;
  background-color: rgb(226, 226, 226);
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 5px;
  color: #c40707;
}
section a:hover{
  background-color: rgb(219, 201, 201);
}
section a b{
  background-color: rgb(228, 128, 35);
  color: #fff;
  padding: 5px;
  margin-left: 2px;
  border-radius: 7px;
}
footer{
  display: flex;
  background: #c40707;
  color: #fff;
  justify-content: center;
  padding: 10px 5px;
}